<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zznode.materialmanage.dao.StockDiscardDao">
	<resultMap type="StockDiscard" id="StockDiscardMap">
		<id column="stockDiscardId" property="stockDiscardId"/>
		<association column="operatorId" property="operator" javaType="User"
				select="com.zznode.materialmanage.dao.UserDao.selectById"/>
	</resultMap>
	<insert id="addStockDiscard" parameterType="StockDiscard">
		INSERT INTO stock_discard(terminalSn, operatorId, operateTime, remark)
		VALUES(#{terminalSn}, #{operatorId}, #{operateTime}, #{remark})
	</insert>
	<select id="selectById" parameterType="int" resultMap="StockDiscardMap">
		SELECT stockDiscardId, terminalSn, operatorId, operateTime, remark
		FROM stock_discard
		WHERE stockDiscardId = #{stockDiscard}
	</select>
	<select id="selectByCondition" parameterType="StockDiscardQuery" resultType="StockDiscard">
		SELECT stockDiscardId, terminalSn, operatorId, operateTime, remark
		FROM stock_discard
		<where>
			<if test="terminalSn != null and terminalSn != ''">
				AND terminalSn LIKE CONCAT('%',#{terminalSn},'%')
			</if>
			<if test="startTime != null">
				AND operateTime &gt;= #{startTime}
			</if>
			<if test="endTime != null">
				AND operateTime &lt;= #{endTime}
			</if>
			<if test="operatorIdList != null and operatorIdList.size > 0">
				AND operatorId IN 
				<foreach collection="operatorIdList" item="operatorId2" open="(" separator="," close=")">
					#{operatorId2}
				</foreach>
			</if>
		</where>
	</select>
</mapper>